@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  a {
    @apply text-blue-600 font-medium;
  }

  a:hover {
    @apply text-blue-800;
  }

  button {
    @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-800 text-white;
  }

  button:hover {
    @apply border-blue-600;
  }

  button:focus {
    @apply outline-none ring-2 ring-blue-400;
  }
}
