@import "tailwindcss";

body {
  @apply bg-gray-100 text-gray-900;
}

h1 {
  @apply text-3xl font-bold;
}

a {
  @apply text-blue-600 hover:text-blue-800 font-medium;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-800 text-white hover:border-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400;
}
